:root {
  --soft-red: #fc4747;
  --dark-blue: #10141e;
  --medium-blue: #161d2f;
  --light-blue: #5a698f;
  --white: #ffffff;
  --max-width: 1240px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border;
}

html {
  font-size: 62.5%;
}

body {
  background: var(--dark-blue);
  font-family: 'Outfit', sans-serif;
}

img {
  width: 100%;
}

li {
  list-style: none;
}

/* Header */
#header {
  padding: 2rem;
  background: var(--medium-blue);
}

#header .flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#header .nav-icons ul {
  display: flex;
}

#header .nav-icons ul li:not(:last-child) {
  margin-right: 2rem;
}

#header .nav-icons ul li .active path {
  fill: var(--white);
}

#header .profile-img-wrapper {
  width: 2.5rem;
  border: 1px solid var(--white);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Search */
.search {
  padding: 2rem;
  margin-bottom: 2rem;
}

.search-group {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
}

.search-form .form-group {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-form .form-group img {
  width: 2.5rem;
}

.search-form .form-group input {
  width: 100%;
  padding: 1rem;
  background: transparent;
  border: none;
  outline: none;
  color: var(--white);
  font-size: 1.6rem;
  font-family: 'Outfit', sans-serif;
}

/* Trending */
.trending {
  padding: 0 2rem;
  margin-bottom: 3rem;
}

.trending .section-heading {
  margin-bottom: 2rem;
}

.trending .section-heading h2 {
  font-size: 2rem;
  color: var(--white);
  font-weight: 300;
  letter-spacing: 1px;
}

.trending .swiper-slide {
  position: relative;
  width: 25rem;
  height: 15rem;
}

.trending .swiper-slide .swiper-img {
  position: relative;
  width: 100%;
  height: 100%;
}

.trending .swiper-slide .swiper-img::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.trending .swiper-slide .swiper-img img {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

.trending .swiper-slide .content {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.trending .swiper-slide .content .details {
  display: flex;
  color: var(--white);
  opacity: 0.75;
  margin-bottom: 0.75rem;
}

.trending .swiper-slide .content .details span:not(:last-child) {
  margin-right: 1rem;
}

.trending .swiper-slide .content .details .dot-two,
.trending .swiper-slide .content .details .rating {
  display: none;
}

.trending .swiper-slide .content .genre {
  display: flex;
}

.trending .swiper-slide .content .genre img {
  margin-right: 0.5rem;
}

.trending .swiper-slide .content .title {
  font-size: 1.5rem;
  color: var(--white);
}

.trending .swiper-slide .rating-badge {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background: rgba(255, 255, 255, 0.25);
  width: 3.4rem;
  height: 2.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
}

.trending .swiper-slide .rating-badge p {
  color: var(--white);
  font-size: 1.3rem;
}

/* Recommended */
.recommended {
  padding: 0 2rem;
}

.recommended .section-heading {
  margin-bottom: 2rem;
}

.recommended .section-heading h2 {
  font-size: 2rem;
  color: var(--white);
  font-weight: 300;
  letter-spacing: 1px;
}

.recommended .grid-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(16.5rem, 11fr));
  gap: 1rem;
}

.recommended .grid-container .grid-item {
  margin-bottom: 1rem;
}

.recommended .grid-container .grid-item .movie-img {
  position: relative;
  width: 16.5rem;
  height: 10.1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.recommended .grid-container .grid-item .movie-img .movie-poster {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

.recommended .grid-container .grid-item .movie-img .bookmark-wrapper {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 3.2rem;
  height: 3.2rem;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.recommended .grid-container .grid-item .movie-img .bookmark-wrapper .bookmark {
  width: 1.4rem;
  height: 1.5rem;
}

.recommended .grid-item .movie-details {
  display: flex;
  color: var(--white);
  opacity: 0.75;
  margin-bottom: 0.75rem;
}

.recommended .grid-item .movie-details span:not(:last-child) {
  margin-right: 1rem;
}

.recommended .grid-item .movie-details .dot-two {
  display: none;
}

.recommended .grid-item .genre {
  display: flex;
}

.recommended .grid-item .genre img {
  margin-right: 0.5rem;
  width: 1rem;
  height: 1rem;
}

.recommended .grid-item .movie-title h3 {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--white);
}
